html,body{
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: #F1F4F4;
}
.foind{
	height: 100%;
	width: 100%;
	background: #F1F4F4;
}
.foind p{
	
	padding: 0.15rem 0;
	line-height: 0.24rem;
	font-size: 0.18rem;
	background: #000;
	color:#DADCE1;
	text-align: center;
	
}
.foind form .pwd{
	height: 0.9rem;
	padding: 0 1.04rem;
	margin: 0.94rem auto;
}
.foind .pwd input{
	height: 0.9rem;
	width: 0.9rem;
	background: url("../imgs/pwd.png") no-repeat;
	background-size: contain;
	border: none;
	line-height: 0rem;
	text-align: center;
	margin-right: 0.24rem;
	outline: none;
}
.foind .pwd input:last-child{
	margin-right: 0;
}
 #sub{
	height: 0.74rem;
	width: 5.6rem;
	margin: 0 0.4rem;
     border-radius:0;
	background: #000;
	 border:none;
	 color:#fff;
	 line-height: 0.74rem;
	 text-align: center;
	 font-size: 0.24rem;
     -webkit-appearance:none;
     
    
}
.forget{
	margin-top: 0.34rem;
	width: 100%;
	text-align: center;
	font-size: 0.24rem;
}
.forget a{
	font-size: 0.24rem;
	color: #343434;
}
#affirm{
	line-height: 0.3rem;
	padding:0.15rem 0.35rem;
	text-align:left;
	
}
